* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  background: rgb(23, 23, 85);
  height: 10vh;
}
.sub-hero {
  height: 100%;
  display: flex;
  color: white;
  width: 50%;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .sub-hero {
    position: fixed;
    background-color: rgb(23, 23, 85);
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 50%;
    z-index: 0;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .sub-hero.open {
    clip-path: circle(900px at 90% -10%);
    -webkit-clip-path: circle(900px at 90% -10%);
    pointer-events: all;
  }
  .hero {
    position: relative;
  }
  .toggler {
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    transform: translate(-10%, -50%);
  }
  .line {
    margin: 5px;
    width: 30px;
    height: 3px;
    background: white;
  }
}

.sub-hero a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.container1 {
  background: url(images/pexels-lukas-574073.jpg) no-repeat no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 20%;
}

.sub-container1 {
  font-family: "Times New Roman", Times, serif;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}
.name-style {
  color: rgb(216, 35, 35);
}
.sub-container1 button a {
  color: rgb(23, 23, 85);
  text-decoration: none;
  font-size: 2vw;
}
