* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  background: rgb(23, 23, 85);
  position: relative;
}
.sub-hero {
  color: white;
  width: 50%;
  margin-left: 50%;
  padding: 2em;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-between;
}

.sub-hero a {
  text-decoration: none;
  color: white;
}

.container1 {
  background: url(images/pexels-lukas-574073.jpg) no-repeat no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20% 20%;
}

.sub-container1 {
  font-family: "Times New Roman", Times, serif;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
}
.name-style {
  color: rgb(216, 35, 35);
}
.sub-container1 button a {
  color: rgb(23, 23, 85);
  text-decoration: none;
  font-size: 2vw;
}
