* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  background: rgb(23, 23, 85);
  height: 10vh;
}
.sub-hero {
  height: 100%;
  display: flex;
  color: white;
  width: 50%;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}

@media screen and (max-width: 800px) {
  .sub-hero {
    position: fixed;
    background-color: rgb(23, 23, 85);
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding-top: 20%;
    padding-bottom: 50%;
    z-index: 0;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .sub-hero.open {
    clip-path: circle(900px at 90% -10%);
    -webkit-clip-path: circle(900px at 90% -10%);
    pointer-events: all;
  }
  .hero {
    position: relative;
  }
  .toggler {
    position: absolute;
    right: 5%;
    top: 50%;
    z-index: 1;
    cursor: pointer;
    transform: translate(-10%, -50%);
  }
  .line {
    margin: 5px;
    width: 30px;
    height: 3px;
    background: white;
  }
}

.sub-hero a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.container1 {
  background: rgb(23, 23, 85);
  height: 90vh;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.sub-container1 {
  font-family: "Roboto", sans-serif;
  color: white;
  width: 40%;
  font-size: 30px;
  max-width: 3000px;
  /* border: solid white; */
}

.sub-container1 a {
  color: white;
  text-decoration: none;
  color: tomato;
}

.sub-container2 {
  /* border: solid white; */
  width: 50%;
  padding-left: 20%;
}

.container2 {
  background: rgb(23, 23, 85);
  display: flex;
  justify-content: center;
}
.sub-container2-1 {
  font-size: 30px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media screen and (max-width: 950px) {
  .sub-container2 {
    visibility: hidden;
  }
  .sub-container1 {
    width: 100%;
  }
  .sub-container2-1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .sub-container2-1 {
    padding: 5px;
    width: 100%;
    font-size: 16px;
  }
}
.container3 {
  display: flex;
  justify-content: center;
  background: rgb(23, 23, 85);
}
.sub-container3-g {
  color: white;
  border: solid white;
  width: 60%;
}
.sub-container3-1 {
  border: solid red;
  display: flex;
  justify-content: center;
}
.grider1 {
  display: grid;
  grid-template-columns: 50% 50%;
  border: solid greenyellow;
  font-size: large;
}
.grider1 > div > p {
  display: inline-block;
  margin: 0%;
}
.grider1 img {
  float: left;
  padding: 2px;
}
